@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1687242898443') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang-mian:before {
  content: "\e624";
}

.icon-cha:before {
  content: "\e625";
}

.icon-bianji:before {
  content: "\e626";
}

.icon-dingdan:before {
  content: "\e62c";
}

.icon-biaoqing:before {
  content: "\e62e";
}

.icon-dabao:before {
  content: "\e62f";
}

.icon-dizhi:before {
  content: "\e630";
}

.icon-dianpu:before {
  content: "\e633";
}

.icon-chexiao:before {
  content: "\e634";
}

.icon-cuxiao:before {
  content: "\e63b";
}

.icon-haibao:before {
  content: "\e63c";
}

.icon-dianhua:before {
  content: "\e63e";
}

.icon-shipin:before {
  content: "\e691";
}

.icon-sousuo:before {
  content: "\e696";
}

.icon-yuangou-mian:before {
  content: "\e697";
}

.icon-yuanjia:before {
  content: "\e6a1";
}

.icon-yuangou:before {
  content: "\e6a2";
}

.icon-zhuanxiangxiaochengxu:before {
  content: "\e6a6";
}

.icon-xiaochengxu:before {
  content: "\e6a7";
}

.icon-jia:before {
  content: "\e6b8";
}

.icon-weixuanze-daidi:before {
  content: "\e6c9";
}

.icon-danxuan:before {
  content: "\e6ca";
}

.icon-weixuanze:before {
  content: "\e6cb";
}

.icon-duoxuan:before {
  content: "\e6cc";
}

.icon-weixuanze-tushang:before {
  content: "\e6cd";
}

.icon-gou16:before {
  content: "\e6ce";
}

.icon-cha16:before {
  content: "\e6cf";
}

.icon-jia16:before {
  content: "\e6d0";
}

.icon-jian16:before {
  content: "\e6d1";
}

.icon-shangjiantou-mian16:before {
  content: "\e6d4";
}

.icon-shangjiantou16:before {
  content: "\e6d6";
}

.icon-xiajiantou16:before {
  content: "\e6dc";
}

.icon-lajitong16:before {
  content: "\e6df";
}

.icon-youjiantou16:before {
  content: "\e6e0";
}

.icon-tishi-mian:before {
  content: "\e6e2";
}

